<div class="footer">
    <div class="footer-content">
        <div class="row">
            <div class="col-md-3" style="margin-top: 50px;">
                <p class="para1">SKY CARE</p>
                <p style="color: #ffffff; font-size: 13px;">Leading the Way in Medical Execellence, Trusted Care.</p>
            </div>
            <div class="col-md-3" style="margin-top: 50px;">
                <h5 style="color: #ffffff;">Important Links</h5>
                <div style="margin-top: 20px;">
                    <a routerLink="/form" class="top-menu-item" style="text-decoration: none; color: #fff;">Registration Form</a><br/>
                    <a routerLink="/purpose" class="top-menu-item" style="text-decoration: none; color: #fff;">Purpose of visit</a><br/>
                    <a routerLink="/patientlist" class="top-menu-item" style="text-decoration: none; color: #fff;">Patient List</a><br/>
                    <a routerLink="/report" class="top-menu-item" style="text-decoration: none; color: #fff;">Report</a>
                </div>
            </div>
            <div class="col-md-3" style="margin-top: 50px;">
                <h5 style="color: #ffffff;">Contact Us</h5>
                <div style="margin-top: 20px;">
                <p style="color: #fff; font-size: 13px;">Call: (237) 681-812-255<br/>
                    Email: fildineesoe&#64;gmail.com<br/>
                    Address: 0123 Some place<br/>
                    Some country</p>
                </div>
            </div>
            <div class="col-md-3" style="margin-top: 50px;">
                <h5 style="color: #ffffff;">Newsletter</h5>
                <div style="position: relative; margin-top: 20px;">
                    <input type="text" placeholder="Enter your email address" style="width: 110%; padding: 5px;">
                    <mat-icon style="position: absolute; right: -15px; top: 50%; transform: translateY(-50%);">send</mat-icon>
                </div>
            </div>                                  
        </div>
        <hr style="color: #ffffff;">
        <div class="row">
            <div class="col-md-8" style="display: flex; align-items: center;">
                <span style="color: #ffffff;">© 2024 Sky Care, All Rights Reserved by PNTEC-LTD</span>
            </div>
            <div class="col-md-4" style="display: flex; justify-content: flex-end; align-items: center;">
                <img src="../../../assets/linkedin.png"/>
                <img src="../../../assets/insta.png" style="margin-left: 20px;"/>
                <img src="../../../assets/facebook.png" style="margin-left: 20px;"/>
            </div>
        </div>
        <br/><br/>
    </div>
</div>
