.footer{
    background-color: #1F2B6C;
}

.footer-content{
    margin-left: 18%;
    margin-right: 18%;
}

.para1{
    color: #FFFFFF; 
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif; 
}

.top-menu-item{
    font-size: 13px;
}