.report {
  margin: 1%;
}

.form-group {
  margin-bottom: 20px; /* Adjust the margin as needed */
}

#text-14-500-22-Inter {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
}

#text-22-600-22-Inter {
  font-size: 22px;
  font-weight: 600;
  line-height: 22px;
}

.centered-cell {
  text-align: center;
  vertical-align: middle;
  color: red;
}
