<div class="homepage">
  <div class="content1">
    <div class="row home-content">
      <div class="col-md-12">
        <p class="content-text">CARING FOR LIFE</p>
        <span class="content-text2"
          >Leading the Way <br />
          in Medical Excellence</span
        >
        <br />
        <button class="btn">Our Services</button>
      </div>
    </div>
    <div class="row box-content">
      <div class="col-md-4 box1">
        <p>Book an Appoinment</p>
      </div>
      <div class="col-md-4 box2">
        <p>Book an Appoinment</p>
      </div>
      <div class="col-md-4 box3">
        <p>Book an Appoinment</p>
      </div>
    </div>
  </div>
  <div class="content2">
    <div class="row about">
      <div class="col-md-12">
        <p class="aboutpara1">Welcome to Sky Care</p>
        <p class="aboutpara2">A Great Place to Receive Care</p>
        <span id="aboutpara3">
          A hospital is a healthcare institution providing patient treatment
          with specialized health science and auxiliary <br />
          healthcare staff and medical equipment. The best-known type of
          hospital is the general hospital, which typically has <br />
          an emergency department to treat urgent health problems ranging from
          fire and accident.
        </span>
      </div>
    </div>
  </div>
  <div class="content3"></div>
  <div class="content4">
    <div class="row about">
      <div class="col-md-12">
        <p class="aboutpara1">Care you can believe in</p>
        <p class="aboutpara2">Our Services</p>
      </div>
    </div>
  </div>
  <div class="content5">
    <div class="row">
      <div class="col-md-3">
        <div
          style="
            height: 130px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: #bfd2f8;
          "
        >
          <div
            style="display: flex; align-items: center; justify-content: center"
          >
            <img src="../../assets/checkup.png" />
          </div>
          <p
            style="display: flex; align-items: center; justify-content: center"
          >
            Free Checkup
          </p>
        </div>
        <div
          style="
            background-color: #1f2b6c;
            height: 130px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
          "
        >
          <div
            style="display: flex; align-items: center; justify-content: center"
          >
            <img src="../../assets/cardio.png" />
          </div>
          <p
            style="
              display: flex;
              align-items: center;
              justify-content: center;
              color: aliceblue;
            "
          >
            Cardiogram
          </p>
        </div>
        <div
          style="
            height: 130px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: #bfd2f8;
          "
        >
          <div
            style="display: flex; align-items: center; justify-content: center"
          >
            <img src="../../assets/DNA.png" />
          </div>
          <p
            style="display: flex; align-items: center; justify-content: center"
          >
            DNA Test
          </p>
        </div>
        <div
          style="
            background-color: #1f2b6c;
            height: 130px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
          "
        >
          <div
            style="display: flex; align-items: center; justify-content: center"
          >
            <img src="../../assets/cardio.png" />
          </div>
          <p
            style="
              display: flex;
              align-items: center;
              justify-content: center;
              color: aliceblue;
            "
          >
            Blood Bank
          </p>
        </div>
      </div>
      <div class="col-md-5">
        <p
          style="
            display: flex;
            justify-content: center;
            font-size: 20px;
            font-weight: 700;
          "
        >
          A passion for putting patients first.
        </p>
        <div class="row" style="margin-top: 45px; margin-left: 1%">
          <div class="col-md-7">
            <ul style="line-height: 2">
              <li>A Passion for Healing</li>
              <li>All our best</li>
              <li>A Legacy of Excellence</li>
            </ul>
          </div>
          <div class="col-md-5">
            <ul style="line-height: 2">
              <li>5-Star Care</li>
              <li>Believe in Us</li>
              <li>Always Caring</li>
            </ul>
          </div>
        </div>
        <p style="text-align: justify; margin-top: 20px">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque
          placerat scelerisque tortor ornare ornare. Quisque placerat
          scelerisque tortor ornare ornare Convallis felis vitae tortor augue.
          Velit nascetur proin massa in. Consequat faucibus porttitor enim et.
        </p>
        <p style="text-align: justify; margin-top: 40px">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque
          placerat scelerisque. Convallis felis vitae tortor augue. Velit
          nascetur proin massa in.
        </p>
      </div>
      <div class="col-md-4">
        <div class="service1">
          <img src="../../assets/service1.png" />
        </div>
        <div class="service2" style="margin-top: 60px">
          <img src="../../assets/service2.png" />
        </div>
      </div>
    </div>
  </div>
  <div class="content4">
    <div class="row about">
      <div class="col-md-12">
        <p class="aboutpara1">Always Caring</p>
        <p class="aboutpara2">Our Specialties</p>
      </div>
    </div>
  </div>
  <div class="content5">
    <div class="row">
      <div class="col-md-3">
        <div class="specialty-container">
          <div style="display: flex; align-items: center; justify-content: center">
             <img src="../../assets/specialist.png" />
          </div>
          <p style="display: flex; align-items: center; justify-content: center"> Neurology </p>
        </div>
        <div class="specialty-container">
          <div style="display: flex; align-items: center; justify-content: center">
             <img src="../../assets/specialist.png" />
          </div>
          <p style="display: flex; align-items: center; justify-content: center"> Ophthalmology </p>
        </div>
        <div class="specialty-container">
          <div style="display: flex; align-items: center; justify-content: center">
             <img src="../../assets/specialist.png" />
          </div>
          <p style="display: flex; align-items: center; justify-content: center"> Gastroenterology </p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="specialty-container">
          <div style="display: flex; align-items: center; justify-content: center">
             <img src="../../assets/specialist.png" />
          </div>
          <p style="display: flex; align-items: center; justify-content: center"> Bones </p>
        </div>
        <div class="specialty-container">
          <div style="display: flex; align-items: center; justify-content: center">
             <img src="../../assets/specialist.png" />
          </div>
          <p style="display: flex; align-items: center; justify-content: center"> Cardiovascular </p>
        </div>
        <div class="specialty-container">
          <div style="display: flex; align-items: center; justify-content: center">
             <img src="../../assets/specialist.png" />
          </div>
          <p style="display: flex; align-items: center; justify-content: center"> Urology </p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="specialty-container">
          <div style="display: flex; align-items: center; justify-content: center">
             <img src="../../assets/specialist.png" />
          </div>
          <p style="display: flex; align-items: center; justify-content: center"> Oncology </p>
        </div>
        <div class="specialty-container">
          <div style="display: flex; align-items: center; justify-content: center">
             <img src="../../assets/specialist.png" />
          </div>
          <p style="display: flex; align-items: center; justify-content: center"> Pulmonology </p>
        </div>
        <div class="specialty-container">
          <div style="display: flex; align-items: center; justify-content: center">
             <img src="../../assets/specialist.png" />
          </div>
          <p style="display: flex; align-items: center; justify-content: center"> Dermatology </p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="specialty-container">
          <div style="display: flex; align-items: center; justify-content: center">
             <img src="../../assets/specialist.png" />
          </div>
          <p style="display: flex; align-items: center; justify-content: center"> Otorhinolaryngology </p>
        </div>
        <div class="specialty-container">
          <div style="display: flex; align-items: center; justify-content: center">
             <img src="../../assets/specialist.png" />
          </div>
          <p style="display: flex; align-items: center; justify-content: center"> Renal Medicine </p>
        </div>
        <div class="specialty-container">
          <div style="display: flex; align-items: center; justify-content: center">
             <img src="../../assets/specialist.png" />
          </div>
          <p style="display: flex; align-items: center; justify-content: center"> Gynaecology </p>
        </div>
      </div>
    </div>
  </div>
</div>
